<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>List Prototype by Vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>弁護士等紹介</h1>
        <div id="lawyers-list">
            <select v-model="querys.experts">
                <option disabled value="">全ての職業分野</option>
                <option v-for="expert in listOfAll.experts" v-bind:value="expert">
                    {{ expert }}
                </option>
            </select>

            <select v-model="querys.position">
                <option disabled value="">全ての職位</option>
                <option v-for="position in listOfAll.position" v-bind:value="position">
                    {{ position }}
                </option>
            </select>

            <select v-model="querys.office">
                <option disabled value="">全ての拠点</option>
                <option v-for="office in listOfAll.office" v-bind:value="office">
                    {{ office }}
                </option>
            </select>

            <select v-model="querys.langs">
                <option disabled value="">全ての言語</option>
                <option v-for="lang in listOfAll.langs" v-bind:value="lang">
                    {{ lang }}
                </option>
            </select>

            <button v-on:click="clearQuerys">条件をクリア</button>
            <br>

            検索:<input v-model="searchWord">

            <!-- 検索結果 -->
            <p>件数: {{ filtered.length }}<p>
                    <p>ソート順: {{ kanaSort ? '五十音' : 'デフォルト' }} <button v-on:click="toggleSort"> {{ kanaSort ? 'ソート解除' : '五十音順にソート'  }} </button>

            <lawyer-card
                v-for="lawyer in filtered"
                v-bind:lawyer="lawyer"
                :key="lawyer.name"
            >
            </lawyer-card>

        </div>

        <script>
            Vue.component('lawyer-card', {
                template: `
                    <dl><dt> {{ lawyer.name }} </dt>\
                    <dd><img :src="'./' + lawyer.img"></dd>\
                    <dd> {{ lawyer.experts.join(',') }} </dd>\
                    <dd> {{ lawyer.position }} </dd>\
                    <dd> {{ lawyer.office }} </dd>\
                    <dd> {{ lawyer.langs.join(',') }} </dd></dl>\
                `,
                props: ['lawyer']
            })

            var vm = new Vue({
                el: '#lawyers-list',
                /* selectフォーム用の一意なリストを作成 */
                beforeMount: function () {
                    const props = [ 'experts', 'langs', 'office', 'position' ]
                    for (const prop of props) {
                        var tmp = [];
                        for (const lawyer of this.lawyers){
                            tmp = tmp.concat(lawyer[prop]);
                        }
                        this.listOfAll[ prop ] = Array.from(new Set(tmp));
                    }
                },
                computed: {
                    filtered: function () {
                        /* 絞り込み表示のロジック
                        /* selectでの選択が変わる都度、実行される */
                        var cards = this.lawyers.slice();
                        const querys = this.querys;
                        const searchWord = this.searchWord;

                        for (const key in querys) {
                            if ( !querys[key] == '' ){
                                cards = cards.filter(
                                    function (value) {
                                        /* includesは部分一致
                                        /* カウンセル選択時にスペシャルカウンセルが表示されないよう処理を分ける */
                                        if (key == "position" ){
                                            return value[key] == querys[key];
                                        } else {
                                            return value[key].includes(querys[key]);
                                        }
                                    });
                            }
                        }
                        /* 検索ワードでの絞り込み */
                        if ( !searchWord == '' ){
                            cards = cards.filter(
                                function (value) {
                                    for (const key in value){
                                        if (value[key].toString().includes(searchWord)) {
                                            return true;
                                        };
                                    }
                                }
                            );
                        }
                        /* 50音ソート */
                        if ( this.kanaSort ) {
                            cards.sort(function(l,m){
                                a = l.kana;
                                b = m.kana;

                                if ( a < b ) {
                                    return -1;
                                }
                                if ( a > b ) {
                                    return 1;
                                }
                                return 0;
                                });
                        }

                        return cards;

                        }
                },
                methods: {
                    /* data.querysに保持した絞り込みワードを消去する */
                    clearQuerys: function (event) {
                        for (const key in this.querys){
                            this.querys[key] = '';
                        }
                        this.searchWord = '';

                    },
                    /* ソートフラグのトグル */
                    toggleSort: function (event) {
                        this.kanaSort = !this.kanaSort
                    },
                },
                data: {
                    listOfAll: {},
                    querys: {
                        experts: '',
                        langs: '',
                        office: '',
                        position: '',
                    },
                    searchWord: '',
                    kanaSort: false,
                    lawyers: [
                        {
                            name: '木下 二平',
                            kana: 'きのした',
                            img: 'man.jpg',
                            experts: ['相続', '離婚調停', '成年後見'],
                            position: 'カウンセル',
                            office: '東京事務所',
                            langs: ['日本語', '英語']
                        },
                        {
                            name: '篠原 三代',
                            kana: 'しのはら',
                            img: 'man.jpg',
                            experts: ['刑事事件', '被害者支援', '少年事件'],
                            position: 'カウンセル',
                            office: '大阪事務所',
                            langs: ['日本語', 'フランス語']
                        },
                        {
                            name: '陳 五飛',
                            kana: 'ちん',
                            img: 'man.jpg',
                            experts: ['知的財産', '特許法', '会社法', '企業法務'],
                            position: 'パートナー',
                            office: '大阪事務所',
                            langs: ['中国語', '英語', 'フランス語']
                        },
                        {
                            name: '仁科 六郎',
                            kana: 'にしな',
                            img: 'man.jpg',
                            experts: ['労働災害', '企業法務', '雇用問題', '年金・保険'],
                            position: 'パートナー',
                            office: '大阪事務所',
                            langs: ['日本語', '英語']
                        },
                        {
                            name: '藤原 幸平',
                            kana: 'ふじわら',
                            img: 'man.jpg',
                            experts: ['多重債務', '消費者問題', '年金・保険','成年後見'],
                            position: 'スペシャルカウンセル',
                            office: '大阪事務所',
                            langs: ['日本語', '英語']
                        },
                        {
                            name: '相原 一',
                            kana: 'あいはら',
                            img: 'man.jpg',
                            experts: ['民事', '交通事故','医療事故'],
                            position: 'パートナー',
                            office: '大阪事務所',
                            langs: ['日本語', '英語']
                        },
                        {
                            name: '松原 八千代',
                            kana: 'まつばら',
                            img: 'man.jpg',
                            experts: ['不動産', '賃貸', 'マンション問題'],
                            position: 'パートナー',
                            office: '大阪事務所',
                            langs: ['日本語', '英語', '中国語']
                        },
                        {
                            name: '吉岡 久司',
                            kana: 'よしおか',
                            img: 'man.jpg',
                            experts: ['民事', '環境・公害'],
                            position: '顧問',
                            office: '大阪事務所',
                            langs: ['日本語', '英語']
                        }
                    ]
                },
            })

        </script>
    </body>
</html>
